.popup-ctn{
    display: none;
    width: 72%;
    max-width: 520px;
    min-height: 400px;
    background-color: rgb(48, 35, 35);
    opacity: 0.98;
    z-index: 3;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}
    .close-popup{
        position: absolute;
        right: 10px;
        top: 10px;
        height: 40px;
        width: 43px;
        cursor: pointer;
    }
    .popup-ctn-button{
        margin-top: 20px;
        width: 80%;
        height: 350px;
        text-align: center;
        /* border: 1px solid white; */
        position: relative;
    }
        .popup-ctn-button button{
            width: 200px;
            height: auto;
            margin-bottom: 10px;
        }
        .pu-rename{
            background-color: var(--normal-btn);
            color: var(--font-text-color);
            border-radius: 10px;
            font-size: 18px;
            padding: 5px;
        }
        .input-rename{
            margin-top: 10px;
            color:white;
            resize: none;
            width: 90%;
            background-color: #334443;
            border-radius: 10px;
            font-size: 18px;
        }

        .btn_save_nnam{
            height: 35px;
            max-width: 70px;
            background-color: var(--normal-btn);
            color: var(--font-text-color);
            font-size: 18px;
            border-radius: 15px;
            margin-bottom: 30px;
        }
        .warning{
            display: block;
            color: red;
            font-size: 14px;
        }
            .hide{
                display: none;
            }
        .rm-tag{
            background-color: red;
            color: var(--font-text-color);
            width: 150px;
            padding: 5px;
            border-radius: 10px;
            margin-top:20px;
        }
        .ctn-rm-tag{
            height:150px;
            width: 210px;
            background-color: #2b4a64;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 5px;
        }
            .ctn-rm-tag button{
                 width: 65px;
                height: 30px;
            }
            .agree-btn{
                background-color: red;
                border-radius: 30px;
                font-weight: 600;
            }
            .deny-btn{
                color: var(--font-text-color);
                background-color: var(--submit-btn-color);
                padding: 3px;
                border-radius: 30px;
                margin-right: 30px;

            }
            .notif-rm{
               font-weight: 500;
               font-size: 18px;
            }