body{
    margin: 0;
    padding:5px;
    background-color: #1E1E1E;
    color: #fffffe;
    font-family: hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
}
button{
    cursor:pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: var(--background-color);
}
    .ctn-logo{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
        .logo{
            height: 50px;
            width: 50px;
            border-radius: 50px;
            
        }
        .web-name{ 
            margin-left: 5px;
            color: #ffb742;
            font-weight: 600;
            font-family: sans-serif;
            text-decoration: none;
        }
    .navbar ul{
        display: flex;
    }
    .navbar ul li {
        list-style: none;
    }
    .navbar li{
        margin-right:10px;
    }
    .navbar ul li a{
        color: var(--text-color);
        text-decoration: none;
        margin-right: 25px;
        font-size: 16px;
        transition: color 0.3s ease;
        cursor: pointer;
    }
.container-twoButton{
    background-color: #323240;
    border-radius: 9px 9px 0px 0px;
    padding: 7px;
    margin-top:10px;
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
    .setting-icon{
        height: 50px;
        width: 50px;
        position: absolute;
        right: 7px;
        top: 10px;
        cursor: pointer;
        display: none;
    }
.createTagFolder{
    background-color: #7f5af0;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top:10px;
    font-size: 20px;
    cursor:pointer;
    color: #fffffe;
}
.container-2{
    background-color: #323240;
    border-radius: 0px 0px 9px 9px;
    padding: 7px;
    max-width: 800px;
    margin: 0 auto;
}
    .url{
        margin:0 auto;
        background-color: #4e4545;
        text-align: left;
        border-radius:6px;
        padding:5px;
        padding-left: 20px;
        max-width: 600px;
        font-size: 18px;
        margin-bottom: 10px;
    }
        .folder-url{
            background-color: #00b894;;
            border-radius: 5px;
            color: white;
            font-size: 14px;
            
        }
    .iconTag{
        width: 120px;
        height: 120px;
        cursor:pointer;
    }

    .iconFolder{
        width: 120px;
        height: 120px;
        cursor:pointer;
    }
    .back_button{
        width: 120px;
        height: 120px;
    }
img, button {
  vertical-align: top;
}   

.icon-box{
    display:inline-block;
    width:120px;
    margin-bottom:50px;
    margin-left: 30px;
}
.icon-name{
    text-align: center;
    word-wrap: break-word;
    font-size: 14px;
}

.dragging{
    opacity: .7;
}