:root {
    --background-color: #18181B;
    --card-color: #27272A;
    --accent: #8B5CF6;
    --accent2: #EC4899;
    --text-color: #F4F4F5;
    --radius: 14px;
    --input-bg: #1E1E1E;
    --input-border: #4E4545;
}

body{
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* ---------- HEADER ---------- */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}

.title{
    font-size: 22px;
    font-weight: 600;
}

.goBack-page{
    cursor: pointer;
    opacity: 0.85;
    transition: 0.2s;
    height: 50px;
    border-radius: 10px;
}

.goBack-page:hover{
    opacity: 1;
    transform: scale(1.05);
    border:2px solid white;

}

.goBack-page{
    border-radius: 12px;
}

/* ---------- BODY ---------- */
.container-body{
    background-color: var(--card-color);
    border-radius: var(--radius);
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

/* ---------- TERM HEADER ---------- */
.ctn-head-ques{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.termStr{
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
}

.cr-id-ques{
    font-size: 16px;
    color: #D1D1D6;
}

/* ---------- QUESTION SECTION ---------- */
.ctn-ques{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.btn-hide-ans{
    background: linear-gradient(135deg, var(--accent), var(--accent2));
    color: white;
    border: none;
    border-radius: var(--radius);
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-hide-ans:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 15px var(--accent2);
}

.item-speaker{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.item-speaker:hover{
    transform: scale(1.1);
}

/* ---------- ANSWER INPUT ---------- */
.ctn-inputAns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputAns{
    width: 100%;
    max-width: 320px;
    height: 55px;
    border-radius: var(--radius);
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 16px;
    padding: 10px;
    resize: none;
    transition: 0.2s;
}

.inputAns:focus{
    border-color: var(--accent);
    outline: none;
    box-shadow: 0 0 8px var(--accent);
}

.wrong-ans{
    border-color: red;
}

/* ---------- SUBMIT AND HINT ---------- */
.ans-and-submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dpl-ans{
    font-size: 14px;
    cursor: pointer;
    color: #9CA3AF;
    transition: 0.2s;
}

.dpl-ans:hover{
    text-decoration: underline;
    color: #00C2FF;
}

.submit{
    background: linear-gradient(135deg, var(--accent), var(--accent2));
    color: white;
    border: none;
    border-radius: 50px;
    height: 35px;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.2s;
}

.submit:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 15px var(--accent2);
}

/* ---------- POPUP ---------- */
.popup-ctn{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #302323;
    min-width: 500px;
    min-height: 450px;
    border-radius: var(--radius);
    z-index: 10;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-popup{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* ---------- POPUP BUTTONS ---------- */
.popup-ctn-button{
    width: 80%;
    text-align: center;
}

.pu-rename{
    width: 200px;
    height: 40px;
    background-color: var(--accent);
    color: white;
    border-radius: var(--radius);
    font-size: 18px;
    padding: 5px;
}

.input-rename{
    margin-top: 10px;
    width: 100%;
    max-width: 320px;
    background-color: #334443;
    color: white;
    font-size: 16px;
    border-radius: var(--radius);
    padding: 10px;
    resize: none;
}

.btn_save_nnam{
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 15px;
    height: 35px;
    width: 80px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.btn_save_nnam:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 15px var(--accent2);
}

.warning{
    color: red;
    font-size: 14px;
}

.hide{
    display: none;
}


@media (max-width: 600px){
    .title{
            font-size: 20px;
        }

    .setting, .goBack-page{
        height: 45px;
        width: 45px;
    }
}
@media (max-width: 460px){
    .title{
        font-size: 18;
    }
    .setting, .goBack-page{
        height: 40px;
        width: 40px;
    }

}