/* 

*/
/* #E6D8C3 */

body{
    margin: 0;
    background-color: var(--background-color);
    font-family: hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
    font-size: 100%;
    line-height: 1.625;
    color: var(--font-text-color);

}
button{
    cursor: pointer;
}
.container{
    margin: 0 auto;
    margin: 7px;
    padding: 10px;
}
    .header{
        position:sticky;
        top:0;
        width: 100%;
        margin: 0 auto;
        z-index: 1;
        background-color: var(--background-color);

    }
        .navbar{
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-bottom: 20px;
            position: relative;
        }
            .goBack-page{
                position: absolute;
                right: 10px;
                bottom: -17px;
                border: 1px solid black;
                border-radius: 15px;
                width: 40px;
                height: 40px;
                cursor:pointer;
            }
            .setting{
                position: absolute;
                cursor: pointer;
                right: 70px;
                
            }

            .title{
                align-self: center;
                font-weight: 600;
                font-size: 18px;
            }
        .form-action{
            text-align: end;
            padding-right: 15px;
            margin-bottom: 20px;
        }
            .actionBut{
                padding:7px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 20px;
                margin-right: 10px; 
                font-weight: 600;
            }
                .button-addMore{
                    border-radius: 5px;
                    background: #D6A85E;
                }
                .button-submit{
                    background: #46eb6f;
                }
                .buttonMore-inend{
                    margin-left:20px;
                    padding: 5px 20px;
                    border-radius: 5px;
                    background: #D6A85E;
                }
                
    .container-body{
        margin:0 auto;
        text-align: center;
        /* padding-top:80px; */
    }
        .input-Row{
            margin: 0 auto;
            padding: 5px;
            text-align: center;
            background-color: var(--bgr-ctn-color);
            max-width: 700px;
            color: var(--font-text-color);
            border-radius: 20px;
            margin-bottom: 20px;
        
        }
        .title-input-bar{
            text-align: start; 
            margin-left: 5px; 
            font-weight: 600; 
            font-size: 20px;
            display: flex;
            flex-direction: row;
            position: relative;
            z-index: 0;
        }
            .trash-icon{
                position: absolute;
                right:10px;
                cursor:pointer;
                align-self: center;
                height:23px;
                width: 23px;
                z-index: -1;
            }
        .d0-inp{
            display:inline-block;
            width: 45%;
            text-align: start;
            padding-left: 5px;
        
        }

            .d1-inpTerm{
               margin: 0;
            }
            .d2-inpDefinition{
                margin: 0;
            }
                .inp-text{
                    color:white;
                    resize: none;
                    width: 95%;
                    background-color: #334443;
                    border-radius: 10px;
                }
            
